*{
    margin: 0px;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 80px;
    background-color: #0f1111;
    margin-top: 0px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;

}

.nav-logo{
    height: 60px;
    width: 120px;
}

.logo{
    background-image: url("Amazon_logo.png");
    background-size: cover;
    height: 60px;
    width: 120px;
}

.border{
    border: 1.65px solid transparent;
    border-radius: 5px;
}

.border:hover{
    border: 1.65px solid white;
}

/* box2 */

.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-top: 8px;
    margin-left: 10px;
    margin-bottom: -20px;

}


.add-sec{
    font-size: 1rem;
    margin-left: 7px;
    
}

.add-icon{
    display:flex;
    align-items: center;

}
/* box3 */
.nav-search{
    display: flex;
    background-color: #f3f3f3;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 5px;
    margin-left: 5px;
}
.search-select{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 50px;
    text-align: center;
    border: none;
    color: black;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    background-color: rgb(255, 174, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0f1111;
}
.nav-search:hover{
    border: 2px solid orange;
}
/* box4 */

span{
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/* box6 */

.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700px;
}
/* pannel */

.pannel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.pannel-ops p{
    display: inline;
    font-size: 0.85rem;
    margin-left: 15px;
}
.pannel-ops{
    width: 70%;
}
.pannel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
.navbar2{
    height: 80px;
    background-color: #007185;
    margin-top: 0px;
    display: flex;
    color: white;
    align-items: center;
    padding-left: 20px;
    font-size: 20px;
    z-index: 10px;
    position: relative;
    box-shadow: 0 0 12px rgba(0, 0, 0, .25);
}
.navbar2 :hover{
    text-decoration: underline;
}
#home1{
    margin-left: 20px;
    margin-right: 30px;
    text-decoration: 2px solid underline;
}

#Digitaoption{
    text-decoration: none;
    color: white;
}
.hero-section{
    background-color: #007185;
    height: 800px;
}
h1{
    color: white;
    padding-top: 20px;
    padding-left: 20px;
}
p{
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20px;
    color: white;
    padding-bottom: 20px;
}
.card-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.flex-card {
    width: 500px;
    height: 130px;
    background: white;
    font-size: 16px;
    text-align: center;
    line-height: 120px;
    border-radius: 5px;
    margin: 15px;
}

.allImages{
    height: 60px;
    width: 60px;
    display: flex;
    margin-top: 40px;
    margin-left: 30px;
}
#title{
    color: black;
    margin-left: 80px;
    margin-top: -10px;
    display: flex;
    position: absolute;
}

 /* hero-section-2 */
 .hero-section2{
    height: 900px;
    margin-left: 30px;
 }

.bold-heading{
    font-weight: 700;
    font-size: 30px;
    padding-top: 50px;
    margin-bottom: 20px;
}
.search2-input{
    height: 50%;
    width: 90%;
    font-size: 20px;
    border-radius: 4px;
    padding: 7px 25px;
}
.hero-images-topics{
    height: 600px;
    width: 1500px;
    margin-left: 20px;
}
footer{
    margin-top: 15px;
}
.footer-pannel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    
}
.footer-pannel2{
    background-color: #222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
}
ul a:hover{
    text-decoration: underline;
}

ul{
    margin-top: 50px;
}

ul a {
    display: block;
    font-size: 0.85rem;
   margin-top: 15px;
   color: #DDDDDD;
   text-decoration:  none;
}

.footer-pannel3{
    background-color: #222f3A;
    border-top: 0.5px solid white;
    height: 68px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;   
    padding-bottom: 30px;
}

.logo-pannel3{
    background-image: url("Amazon_logo.png");
    background-size: cover;
    height: 40px;
    width: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.languages{
    margin-left: 40px;
    border-radius: 0.85px;
    
}
select{
    color: white;
    border: none;
    background-color: transparent;
}
.border1{
    border: 1.4px solid white;
    height: 45px;
    width: 140px;
    padding-left: 30px;
    background-color: transparent;
}
.global-icon{
    margin-left: 50px;
    margin-top: -30px;
    margin-right: 50px;
    color: white;
}

/* Currency-option */
.Currency{
    margin-left: 10px;
    margin-top: 10px;
}
.currency-button{
    background-color: transparent;
    border: 1.4px solid #DDDDDD;
    border-radius: 1.89px;
    height: 45px;
    width: 120px;
    color: #DDDDDD;
}
.image-flag{
    height: 20px;
    width: 30px;
    position: absolute;
    margin-left: 310px;
    margin-top: 18px;
}
.flag-button{
    background-color: transparent;
    border: 1.4px solid #DDDDDD;
    border-radius: 1.89px;
    height: 45px;
    width: 140px;
    color: #DDDDDD;
    padding-left: 50px;
    margin-left: 10px;
    margin-top: 8px;   
}

.footer-pannel4{
    background-color: #131A22;
    color: white;
    display: flex;
    padding: 30px 30px 30px 30px; 
    flex-wrap: wrap;  
    padding-left: 150px;
    padding-bottom: 200px; 
}

.footer-unorderlist a{
    display: block;
    font-size: 0.85rem;
   margin-top: 10px;
   color: #DDDDDD;
}

/* footer-pannel5 */
.footer-pannel5 {
    background-color: #131A22;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
    padding-bottom: 30px;
}
#ads-line {
    margin-left: 10px;
    font-size: 0.8rem;
}
a{
    color: white;
    margin-left: 7px;
    text-decoration: none;
}

img{
    margin-left: -1px;
    margin-top: -9px;
    height: 30px;
    width: 40px;
    position: absolute;
}
.pages :hover{
    padding-top: 50px;
    text-decoration: underline;
}

.copyright{
    padding-top: 8px;
   
}

