*{
    margin: 0px;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 80px;
    background-color: #0f1111;
    margin-top: 0px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 60px;
    width: 120px;
}

.logo{
    background-image: url("Amazon_logo.png");
    background-size: cover;
    height: 60px;
    width: 120px;
}

.border{
    border: 1.65px solid black;
    border-radius: 5px;
}

.border:hover{
    border: 1.65px solid white;
}

/* box2 */

.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-top: 8px;
    margin-left: 10px;

}

.add-sec{
    font-size: 1rem;
    margin-left: 7px;
}

.add-icon{
    display:flex;
    align-items: center;

}
/* box3 */
.nav-search{
    display: flex;
    background-color: #f3f3f3;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 5px;
    margin-left: 5px;
}
.search-select{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 50px;
    text-align: center;
    border: none;
    color: black;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    background-color: rgb(255, 174, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0f1111;
}

.nav-search:hover{
    border: 2px solid orange;
}
/* box4 */

span{
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/* box6 */

.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700px;
}

/* pannel */

.pannel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.pannel-ops p{
    display: inline;
    font-size: 0.85rem;
    margin-left: 15px;
}
.pannel-ops{
    width: 70%;
}
.pannel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/* hero-section */
.hero-section{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}

.hero-msg a{
    color: #007185;
}
/* shopping-section */

.shopping-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #ffedcc;
}
.box {
    height: 400px;
    width: 23%;
    background-color: white;
    margin-top: 15px;
    padding: 20px 0px 15px;
}

.box1-content{
    margin-left: 5px;
}

.miniboxes1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

.minibox1 {
    background-image: url("minibox1_image.jpg");
    background-size: cover;
    background-position: 60%;   
    height: 120px;
    width: 120px;
    line-height: 255px;

}
.minibox2{
    background-image: url("minibox2_image.jpg");
    background-size: cover;
    background-position: 60%;
    height: 120px;
    width: 120px;
    line-height: 255px;
}
.minibox3{
    background-image: url("minibox3_image.jpg");
    background-size: cover;
    background-position: 60%;
    height: 120px;
    width: 120px;
    margin-top: 30px;
    line-height: 255px;
}
.minibox4{
    background-image: url("minibox4_image.jpg");
    background-size: cover;
    background-position: 60%;
    height: 120px;
    width: 120px;
    margin-top: 30px;
    line-height: 255px;
    
}
#msg1{
    color: blue;
    margin-top: 70px;
    margin-left: 15px;
    font-size: 0.7rem;
}
.box2-content{
    margin-left: 5px;
}
.miniboxes2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

.minibox_1 {
    background-image: url("mini2_box1.jpg");
    background-size: cover;
    background-position: 60%;   
    height: 120px;
    width: 140px;
    line-height: 255px;
}
.minibox_2{
    background-image: url("mini2_box2.jpg");
    background-size: cover;
    background-position: 60%;
    height: 120px;
    width: 140px;
    line-height: 255px;
}
.minibox_3{
    background-image: url("mini2_box3.jpg");
    background-size: cover;
    background-position: 60%;
    height: 120px;
    width: 140px;
    margin-top: 30px;
    line-height: 255px;
}
.minibox_4{
    background-image: url("mini2_box4.jpg");
    background-size: cover;
    background-position: 60%;
    height: 120px;
    width: 140px;
    margin-top: 30px;
    line-height: 255px;
}
#msg2{
    color: blue;
    margin-top: 70px;
    margin-left: 15px;
    font-size: 0.7rem;
}
.box-img{
   height: 270px;
   width: 270px;
   background-image: url("bigbox3_image.jpg");
   background-size: cover;
   margin-top: 20px;
   margin-left: 30px;
   background-position: 40%;
}

#msg3{
    color: blue;
    margin-top: 70px;
    margin-left: 15px;
    font-size: 0.7rem;
}

.box3-content{
    margin-left: 5px;
}

.miniboxes4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.box4-content{
    margin-left: 5px;
}
.mini4box1{
    height: 120px;
    width: 140px;
    background-image: url("dining_minibox4.jpg");
    line-height: 255px;
}

.mini4box2{
    height: 120px;
    width: 140px;
    background-image: url("home_minibox2.jpg");
    line-height: 255px;
}

.mini4box3{
    height: 120px;
    width: 140px;
    background-image: url("kitchen_minibox3.jpg");
    margin-top: 30px;
    line-height: 255px;
}

.mini4box4{
    height: 120px;
    width: 140px;
    background-image: url("health_minibox4.jpg");
    margin-top: 30px;
    line-height: 255px;
}

#msg4{
    color: blue;
    margin-top: 70px;
    margin-left: 15px;
    font-size: 0.7rem;
}

/* footer-pannel1 */
footer{
    margin-top: 15px;
}
.footer-pannel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    
}
.footer-pannel2{
    background-color: #222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
}
ul a:hover{
    text-decoration: underline;
}

ul{
    margin-top: 50px;
}

ul a {
    display: block;
    font-size: 0.85rem;
   margin-top: 15px;
   color: #DDDDDD;
   text-decoration:  none;
}



.footer-pannel3{
    background-color: #222f3A;
    border-top: 0.5px solid white;
    height: 68px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;   
    padding-bottom: 30px;
}

.logo-pannel3{
    background-image: url("Amazon_logo.png");
    background-size: cover;
    height: 40px;
    width: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.languages{
    margin-left: 40px;
    border-radius: 0.85px;
    
}
select{
    color: white;
    border: none;
    background-color: transparent;
}
.border1{
    border: 2px solid white;
    height: 45px;
    width: 140px;
    padding-left: 30px;
    background-color: transparent;
}
.global-icon{
    margin-left: 50px;
    margin-top: -30px;
    margin-right: 50px;
    color: white;
}

/* Currency-option */
.Currency{
    margin-left: 10px;
    margin-top: 10px;
}
.currency-button{
    background-color: transparent;
    border: 1.4px solid #DDDDDD;
    border-radius: 1.89px;
    height: 45px;
    width: 120px;
    color: #DDDDDD;
}
.image-flag{
    height: 20px;
    width: 30px;
    position: absolute;
    margin-left: 310px;
    margin-top: 18px;
}
.flag-button{
    background-color: transparent;
    border: 1.4px solid #DDDDDD;
    border-radius: 1.89px;
    height: 45px;
    width: 140px;
    color: #DDDDDD;
    padding-left: 50px;
    margin-left: 10px;
    margin-top: 8px;   
}

.footer-pannel4{
    background-color: #131A22;
    color: white;
    display: flex;
    padding: 30px 30px 30px 30px; 
    flex-wrap: wrap;  
    padding-left: 150px; 
}

.footer-unorderlist a{
    display: block;
    font-size: 0.85rem;
   margin-top: 10px;
   color: #DDDDDD;
}

/* footer-pannel5 */
.footer-pannel5 {
    background-color: #131A22;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}
#ads-line {
    margin-left: 10px;
    font-size: 0.8rem;
}
a{
    color: white;
    margin-left: 7px;
}
img{
    margin-left: -3px;
    margin-top: -10px;
    height: 30px;
    width: 40px;
}
.pages{
    padding-top: 30px;
}

.copyright{
    padding-top: 8px;
   
}
